﻿@model List<MvcBlog.Models.BlogModel>
@{
    ViewData["Title"] = "Blog Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's blog policy.</p>


<div class="container">
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-3">
            <div class="form-group">
                <label>Search in blog</label>
                <input type="text" class="form-control" placeholder="Search...">
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                @foreach (var blog in Model)
                {
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://wiki.matbao.net/wp-content/uploads/2019/09/blog-la-gi-blogging-la-tu-dung-de-chi-ky-nang-viet-va-van-hanh-blog.jpg" class="img-thumbnail" width="304" height="236">
                        </div>
                        <div class="col-md-8">
                            <a target="_blank" asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.BlogId" style="font-weight: bold; font-size: large;">
                                <p>
                                    @blog.Title
                                </p>
                            </a>

                            <p style="color: '#666';">
                                @blog.Summary
                            </p>
                            <a target="_blank" asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.BlogId"><i class="fa fa-play-circle-o"></i>&nbsp;&nbsp; <span>Xem thêm</span></a>
                        </div>
                    </div>
                }
                <hr>
            </div>
        </div>
    </div>
</div>


